{{- define "articles" -}}
{{- if eq .Count 0 -}}
   Articles not found.
{{- else -}}
Articles found: {{.Count}}
Filters applied:
    {{- if (index .Filters 0) }}
- Keywords: {{ index .Filters 0 }}
    {{- end }}
    {{- if (and (index .Filters 1) (index .Filters 2)) }}
- Date range: {{ index .Filters 1 }} to {{ index .Filters 2 }}
    {{- end }}
    {{- if .SortingBySources }}
        {{- range $sourceName, $articles := .ArticlesBySource }}
Source: {{ $sourceName }}
Number of articles: {{ len $articles }}
    {{- range $articles }}
        {{ template "articleWithoutSource" . }}
    {{- end }}
        {{- end }}
    {{- else }}
    {{- range .Articles }}
        {{ template "article" . }}
    {{- end }}
    {{- end }}
{{end}}
{{- end }}

{{- define "article" -}}
-------------------------------
Title: {{ .Article.Title.String | emphasise .Keywords }}
Description: {{ .Article.Description.String | emphasise .Keywords }}
Link: {{ .Article.Link }}
Date: {{ .Article.Date }}
SourceName: {{.Article.SourceName}}
{{end}}

{{- define "articleWithoutSource" -}}
-------------------------------
Title: {{ .Article.Title.String | emphasise .Keywords }}
Description: {{ .Article.Description.String | emphasise .Keywords }}
Link: {{ .Article.Link }}
Date: {{ .Article.Date }}
{{end}}

{{- define "source_sorting" -}}
    {{- range .Articles }}
        {{ template "articleWithoutSource" . }}
    {{- end }}
{{end}}
