# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/dataSources/
/dataSources.local.xml
/codeStyles/codeStyleConfig.xml
/vcs.xml
/modules.xml
/news-aggregator.iml
/.idea/news-aggregator.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/modules.xml
/charts/*
/aws-auth-chart/charts/*
/news-aggregator/charts/*
/news-aggregator/Chart.lock
/.idea/misc.xml
/.mirrord/mirrord.json
/.idea/remote-targets.xml

